<div class="row home_bg">
          
            <!--Logo Area Starts Here-->
              <div class="col-lg-12 col-md-12 col-sm-12 logo">
                  <img src="assets/img/omdb-logo.png" class="img-responsive"/>
              </div>
            <!--Logo Area Ends Here-->
            
            <!--Search Info Bar Starts here -->
              <div class="col-lg-12 search_info_bar">
                  <p>Search for your favourite movie...</p>
              </div>
            <!--Search Info Bar Ends here-->
            
            <!--Search Box Starts Here-->
              <div class="col-lg-12 col-md-12 col-sm-12 search_box">
                  <form name="searchform" ng-submit="searchmovie(moviename)">
                  <span>
                            <button type="submit" style="background: transparent none repeat scroll 0% 0%;
border: none;" ><img src="assets/img/search-icon.png" class="search_icon"/></button>
                    </span>
                  <input type="text" name="search" id="search" placeholder="SEARCH" required  ng-model="moviename" />
                  </form> 
              </div>
            <!--Search Box Ends Here-->
            
            <!--Bottom Info Starts Here-->
              <div class="col-lg-12 col-md-12 col-sm-12 bottom_info">
                  <p>the largest<p>
                    <p>online movie database</p>
                </div>
            <!--Bottom Info Ends Here-->
        </div>